﻿@model DepositAmountViewModel
@{
    ViewData["Title"] = "Deposit Amount";
}

    <div class="row">
        <form asp-controller="Transaction" asp-action="DepositAmount"  method="post" name="depositForm" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Amount:-</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success" value="Submit" />
                    <a asp-area="" asp-controller="Transaction" asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>


