﻿@model IEnumerable<TestBank.Common.ViewModels.TransactionViewModel>
@{
    ViewData["Title"] = "Transactions Summary";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-6">
        <a asp-area="" asp-controller="Transaction" asp-action="DepositAmount" class="btn btn-primary">Deposit Amount</a>
        <a asp-area="" asp-controller="Transaction" asp-action="WithdrawAmount" class="btn btn-primary">Withdraw Amount</a>
        <a asp-area="" asp-controller="Transaction" asp-action="TransferAmount" class="btn btn-primary">Transfer Amount</a>
    </div>
    <div class="col-md-6">
        <span class="pull-right" style="font-size: 20px;
    font-weight: bold;"></span>
        <button type="button" class="btn btn-primary pull-right" style="margin-right:5px" onclick="getBalance(this)">Request Balance</button>
    </div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-md-12">

        @if (Model.Any())
        {
            <div class="table-responsive">

                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model)
                        {
                            <tr>
                                <td>@transaction.Type</td>
                                <td>@transaction.Amount</td>
                                <td>@transaction.CreatedAt.ToString("MM-dd-yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>
                No transaction records found.
            </p>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {



        });

        function getBalance(src) {
            $.ajax({
                url: '@Url.Action("GetBalance", "Transaction")',
                type: 'GET'
            }).done(function (data) {
                $(src).prev('span').html(data);
            })
        }
    </script>
}
