﻿@model TransferAmountViewModel
@{
    ViewData["Title"] = "Transfer Amount";
}
    <div class="row">
        <form asp-controller="Transaction" asp-action="TransferAmount" method="post"  class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <label>Transfer To:-</label>
                    <select asp-for="AccountId" asp-items="@(List<SelectListItem>)ViewBag.Users" class="form-control">
                        <option value="">Please select</option>
                    </select>
                    <span asp-validation-for="AccountId" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label>Amount:-</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                   
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success" value="Submit" />
                    <a asp-area="" asp-controller="Transaction" asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>

